#left_half {
	width: 60%;
	background: red;
}

#right_half {
	width: 40%;
}

#left_half>div, #right_half>div, #content {
	width: 100%;
}

#leaflet_map {
	min-width: 100px
}

#content {
	height: 100%;
}

#toolbar {
	background: green;
	height: 5%;
}

#event_feed_window {
	height: 60%;
	background: blue;
}

#event_selector_buttons {
	height: 5%;
	background: orange;
}

#grouped_events_window {
	height: 30%;
	background: purple;
}

#toolbar button {
	width: 24%
}