#left_half {
	width: 60%;
	background: red;
	min-width: 200px;
}

#right_half {
	width: 40%;
}

#left_half>div, #right_half>div, #content {
	width: 100%;
}

#content {
	height: 100%;
}

#toolbar {
	background: green;
	height: 5%;
}

#event_feed_window, #grouped_events_window {
	overflow: auto;
}

.event_table td {
	margin: 2px;
	padding-left: 2px;
	box-shadow: 2px 2px 2px rgb(15,15,15);
	-moz-box-shadow: 2px 2px 2px rgb(15,15,15);
	-webkit-box-shadow: 2px 2px 2px rgb(15,15,15);
}

#event_feed_window {
	height: 60%;
	background: blue;
}

#event_selector_buttons {
	height: 5%;
	background: orange;
}

#grouped_events_window {
	height: 30%;
	background: purple;
}

#toolbar button {
	width: 24%
}