#left_half {
	width: 60%;
	background: red;
}

#leaflet_map {
	width: 100%;
	min-width: 100px
}

#content {
	width: 100%;
	height: 100%;
}

#toolbar {
	background: green;
	height: 5%;
	width: 100%
}

#event_feed_window {
	height: 60%;
	background: blue;
}

#event_selector_buttons {
	height: 5%
	width: 100%;
	background: orange;
}

#grouped_events_window {
	height: 30%;
	background: purple;
}

button {
	width: 20%
}